{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'styles/About-us.css' %}">
</head>
<body>
    <header>
        <div>
            <h1 style="font-family: century gothic; text-align: center;
                 color: rgb(206, 243, 243); ">About Us</h1>
        </div>
    </header>

    <main>
        <div id="desription">

            <!--=== notes ===-->

            <div class="welcome-note">
                <div class="welcome-note-box">
                    <div style="margin-bottom: 30px;">
                        
                        <h2>AgriKonnect</h2>
                        <p class="note">
                            AgriKonnect is a platform that allows you to easily get access to your
                            convenient piece of land to rent or purchase on a condition. it also gives you 
                            the opportunity to advertise your own farmland for either hiring or selling.
                            This platform also allows you to buy or rent farmland for a specific peiod of time.
                        </p>
                        <br>
                        <p class="note">
                            We are a team of innovative computer engineering students who came together to create a 
                            revolutionary platform that connects farmers and farmland owners. 
                            <br>Our journey began as a group project idea, driven by a passion to leverage technology to make a positive 
                            impact on the agricultural community.
                        </p>
                    </div>

                    <div style="margin-top: 40px;">
                        <div>
                            <h2>
                                Our Mission
                            </h2>
                            <p class="note">
                                Our platform aims to bridge the gap between farmers seeking to rent or buy farmland and landowners looking to lease or sell their properties.
                                We strive to provide a seamless, efficient, and secure experience for all users,
                                fostering a community that promotes sustainable agriculture and mutual growth.
                            </p>
                            <br>
                            <h2>
                                Our Vision
                            </h2>
                            <P class="note">
                                We envision a future where our platform becomes the go-to destination for farmers and farmland owners, facilitating successful transactions, 
                                and contributing to the prosperity of the agricultural sector.

                            </P>
                            <br>
                            <h2>
                               Join Our Community
                            </h2>
                            <p class="note">
                                We invite you to explore our platform, connect with our community, and experience the benefits of our innovative solution. 
                                Together, let's cultivate a brighter future for agriculture!


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--==== members ===-->
        <div class="our-members">
            <h2>
                Our Members
            </h2>
            <div>
                <ol>
                    <li>Salihu Aliyu Abdulkareem</li>
                    <li>Ibrahim Abdulkadir</li>
                    <li>Mustapha Abubakar</li>
                    <li>Mustapha Shamwilu</li>
                    <li>Sulaiman Isiyaka</li>
                </ol>
            </div>
        </div>
        <button onclick="window.location.href='/'">
            Go back
        </button>
    </main>
</body>
</html>