{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification</title>
    <link rel="stylesheet" href="{% static 'styles/notification.css' %}">
</head>
<body>
    <p style="margin-left:20px ; color: green; font-size: 30px">
            You can contact the following in order to book the land 
    </p>        <br>
    <h1 style="margin-left:20px ;">
        +2348104767353 <br><br>
        +2348079490301
    </h1> <br>
    <p style="margin-left:20px ; color: green; font-size: 30px">or email us at</p> <br>
    <h1 style="margin-left:20px;">aagrikonnectsupport@gmail.com</h1>

    <button style=" padding: 4px; background-color:green; margin-top: 15px; margin-left: 20px; border-radius: 3px">
        <a style="text-decoration: none; color: white;" href="/">Homepage</a>
    </button>
    
    
</body>
</html>