{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Complete</title>
</head>
<body>
    <h1 style="text-align: center;"> Password Reset Successful</h1>
    <p>you can now log in with your new Password.</p>

    <div style="width: 70px;">
        <button class="top-button2" onclick="window.location.href='/accounts/login';">
                login
        </button>
    </div>
</body>
</html>