{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy and Policy</title>
    <link rel="stylesheet" href="{% static 'styles/privacy.css' %}">
</head>
<body>
    <header>
        <div>
            <h1 style="font-family: century gothic; text-align: center;
                 color: rgb(206, 243, 243); ">Privacy and Policy</h1>
        </div>
    </header>

    <main>
        <div id="desription">

            <!--=== notes ===-->

            <div class="welcome-note">
                <div class="welcome-note-box">
                    <div style="margin-bottom: 30px;">
                        
                        <h2>Introduction</h2>
                        <p class="note">
                            Agrikonnect is committed to protecting the privacy and security of
                            its users. This Privacy Policy outlines how we collect, use, and
                            protect your personal data.
                        </p>
                    </div>

                    <div style="margin-top: 40px;">
                        <div>
                            <h2>
                               Information we collect
                            </h2>
                            <p class="note">
                                - Registration Information: When you sign up for Agrikonnect,
                                we collect your name, email address, phone number, and other
                                relevant information.
                                - Profile Information: You may choose to provide additional
                                information, such as your location, farm details, and crop information.
                                - Usage Data: We collect data on how you use our platform,
                                including pages visited, features used, and interactions with other users.
 
                            </p>
                            <br>
                            <h2>
                                How We Use Your Information
                            </h2>
                            <P class="note">
                                - Providing Services: We use your information to provide
                                you with access to our platform and its features.
                                - Improving Services: We use your information to improve our
                                platform, including analyzing usage patterns and identifying
                                areas for improvement.
                                - Communication: We may use your information to communicate
                                with you about our platform, including updates, promotions,
                                and notifications.

                            </P>
                            <br>
                            <h2>
                               Information sharing
                            </h2>
                            <p class="note">
                                - Service Providers: We may share your information with
                                third-party service providers who help us operate our platform.
                                - Partners: We may share your information with partners
                                who provide valuable services or information to our users.
                                - Legal Requirements: We may share your information if
                                required by law or to protect our rights and interests.

                            </p>
                            <br>
                            <h2>
                                Data Security
                            </h2>
                            <p>
                                - Encryption: We use encryption to protect your data
                                both in transit and at rest.
                                - Access Controls: We implement access controls to ensure
                                that only authorized personnel can access your data.
                                - Regular Updates: We regularly update our security
                                measures to ensure they remain effective.
                            </p>
                            <br>
                            <h2>
                                Your Rights
                            </h2>
                            <p>
                                - Access: You have the right to access your personal
                                data and request corrections or updates.
                                - Deletion: You have the right to request deletion of
                                your personal data.
                                - Opt-out: You have the right to opt-out of marketing
                                communications.
                            </p>
                            <br>
                            <h2>
                                Changes to this policy
                            </h2>
                            <p>
                                We may update this Privacy Policy from time to time.
                                We will notify you of any changes by posting the
                                updated policy on our platform.
                            </p>
                            <br>
                            <h2>
                                Contact Us
                            </h2>
                            <p>
                                If you have any questions or concerns about this Privacy Policy,
                                ease contact us at agrikonnect@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <button onclick="window.location.href='/'">
            Go back
        </button>
    </main>
</body>
</html>