{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp</title>
    <link rel="stylesheet" href="{% static 'styles/signUp.css' %}">
</head>
<body>
    <header>
        <div class="hero-banner">
          <h1 style="text-align: center; color: white; 
          font-family: century gothic;">Welcome to AgriKonnect Registration Page</h1>
        </div>
    </header>

    <main>
        <div class="welcome-note">
            <h2>AgriKonnect</h2>
            <p style="text-align: center; font-size: 16px; font-weight: 430;">
                We are glad to have you here! Are you a famer willing to rent or 
                purchase a farmland? If so then his website is for you, 
                connect with other farmers who share with you the same interest and plans.
                Feel free to register with us for easy access to available farmlands. 
         
            </p>
        </div>
        {% for message in messages %}
        <div>
            <p style="text-align: center; color: red;">{{message}}</p>
        </div>
        {% endfor %}
        <div class="register">
            <form action="sign_up" method="post">
                {% csrf_token %}
                <div class="form-content">
                    <label for="name">First Name</label>
                    <input type="text" name="first_name" id="name" placeholder="Name" required>
                </div>

                <div class="form-content">
                    <label for="surname">Last Name</label>
                    <input type="text" name="last_name" id="surname" placeholder="last name" required>
                </div>

                <div class="form-content">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Create Username" required>
                </div>

                <div class="form-content">
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" placeholder="enter your email" required>
                </div>
                <div class="form-content">
                    <label for="password">password</label>
                    <input type="password" name="password1" id="password" placeholder="set password" required>
                </div>
                <div class="form-content">
                    <label for="password">re-enter password</label>
                    <input type="password" name="password2" id="password" placeholder="confirm password" required>
                </div>
                <div>
                    <button type="submit" >Register</button>
                </div>
              
            </form>
        </div>
        
        <div class="suggestion">
            <p>
                Already have an account?
                <a href="login">
                    SignIn
                </a>
            </p>
        </div>
     
    </main>
</body>
</html>